<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem provident quam minus quibusdam animi iure veniam voluptate error saepe, vel harum omnis veritatis nihil sint quasi ipsum! Harum, eum eaque!</p>
</body>
<button>click me</button>
<h1>this is home page 2*8</h1>
<h2><%= 2*8 %></h2>
<h2><%="shriyansh".toUpperCase(); %></h2>
<h2><%=[1,2,3,4,5][3]%></h2>
</html>